
---
---
.site-title {
  font-family: "Helvetica Neue", Arial, sans-serif; /* change font */
  font-size: 2.5rem;                                /* change size */
  color: #b22222;                                   /* change color */
  font-weight: 700;
}
@import "{{ site.theme }}";
// @import "jekyll-theme-minimal";
